@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


:root {
    --main-bg-color: #476072;
    --main-header-color: #548CB8;
    --mian-box-color: #334859;
}

* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    min-height: 100vh;
    background-color: var(--main-bg-color);
}

/* Header */
.logo {
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--main-header-color);
    padding-left: 2rem;
}

.logo>span {
    font-family: 'Workbench', sans-serif;
}

/* Show Bar */
.showbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    padding-top: 2rem;
}
.showbar > h1 {
    font-size: clamp(22px, 4vw, 2.125rem);
}

/* main key shower div */
.top-key-shower {
    max-width: fit-content;
    height: 15rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.top-key-shower > p {
    font-size: 13rem;
}

.top-key-shower > h3 {
    position: absolute;
    bottom: 0;
    font-size: medium;
}

/* Main Top Container */
.main-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--main-bg-color);
}

/* Grid Container */
.grid-contaienr {
    width: 76rem;
    display: grid;
    grid-template: none / repeat(auto-fit, minmax(min(17rem, 100%), 1fr));
    align-content: start;
    gap: 1.5rem;
}

.griditem {
    min-height: 19em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.griditem {
    background-color: var(--mian-box-color);
}
.griditem > p {
    padding: .8rem;
}

.box-header {
    background-color: var(--main-header-color);
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-discp {
    background-color: #738592;
    font-size: smaller;
    line-height: 1.3rem;
    color: #3A4750;
    width: 100%;
    min-height: 4.1rem;
}
.box-content {
    font-size: x-large;
}


